<div class="container mt-5" *ngIf="year">
    <div class="row">
        <div class="col-md-6">
            <a href="https://www.linkedin.com/in/dmitrygrinko/" target="__blank">
                <h2><i class="fa-brands fa-linkedin"></i> About</h2>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://github.com/dm-grinko/portfolio" target="__blank">
                <h2><i class="fa-brands fa-github"></i> Portfolio</h2>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://drive.google.com/file/d/1By5B5FQZES1dI8avc9EH4zTocyf6wMFf/view?usp=sharing" target="__blank">
                <h2><i class="fa-solid fa-file-pdf"></i> Resume</h2>
            </a>
        </div>
        <div class="col-md-6">
            <a href="https://forms.gle/UT28Stc1nsvokTSs6" target="__blank">
                <h2><i class="fa-solid fa-file-lines"></i> Contact</h2>
            </a>
        </div>
    </div>
    <div class="footer">
        <p class="app-main-footer">© 2014-{{ year }} dmitrygrinko.com</p>
        <br />
        <br />
        <br />
    </div>
</div>