$color: #afafaf;
.container {
    max-width: 600px;
    .col-md-6 {
        margin-bottom: 27px
    }
    .card.btn {
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        background-color: #000;
        border: 4px solid #000;
        a {
            text-decoration: none;
            text-align: center;
            h2 {
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
                font-size: 30px;
                color: $color;
                margin: 0;
                i {
                    padding-right: 8px;
                    color: $color;
                }
            }
            cursor: pointer;
        }
        &:focus,
        &:hover {
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
            a {
                h2 {
                    color: #d03d3d;
                    i {
                        color: #d03d3d;
                    }
                }
            }
        }
    }
    .footer {
        text-align: center;
        p {
            padding-top: 100px;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            color: $color;
        }
    }
}