<div class="container">
  <header>
      <h1>Dmitry Grinko</h1>
      <h2>Full Stack Developer | AWS Cloud Engineer</h2>
  </header>
  <div class="buttons">
    <a href="https://www.linkedin.com/in/dmitrygrinko/" class="button" target="_blank">About Me</a>
    <a href="https://drive.google.com/file/d/1c7TUb5QnmNLs7Hr8US8oX84imUvjWPvu/view?usp=sharing" class="button" target="_blank">Resume</a>
    <a href="https://github.com/dm-grinko?tab=repositories" class="button" target="_blank">Portfolio</a>
    <a href="mailto:dm.grinko@gmail.com" class="button" target="_blank">Contact</a>
  </div>
</div>
