iframe {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background: lightyellow;
    max-width: 100%; /* Ensure iframe doesn't exceed the width of the viewport */
    max-height: 100%; /* Ensure iframe doesn't exceed the height of the viewport */
}